<DOCTYPE html>
    <html xmlns:th="http://thymeleaf.org">
    <head>

        <title>Ponto Eletrônico</title>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>

    <body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Ponto Eletrônico</span>
        </nav>
    </header>

    <section>
        <div class="container" style="width: 60%; padding-bottom: 30px;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                    <li class="breadcrumb-item active" aria-current="page">Registros</li>
                </ol>
            </nav>

            <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="registro : ${registros}">
                <div class="card-body">

                    <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
                        <span th:text="${registro.funcionario.nomeCompleto}"></span>
                    </h4>

                    <p class = "car-subtitle mb-2 text-muted" style="font-size: 0,8rem;">
                        <span th:text="${registro.dataHoraRegistro}"></span>
                        <span th:text="${registro.tipoRegistro}"></span>
                    </p>

                </div>
            </div>

        </div>
    </section>

    </body>

    </html>
</DOCTYPE>